{% load static %}
<!DOCTYPE html>
<html>
  
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dijeta je meta</title>
    <link rel="stylesheet" href="{% static 'dijeta_je_meta/css/other.css' %}">
    <script src="https://kit.fontawesome.com/42ed48a784.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Koulen&family=Life+Savers&family=Merriweather:ital@0;1&family=Philosopher&family=Radio+Canada:wght@500&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static 'dijeta_je_meta/images/favicon.png' %}"/>
</head>
{% block head %}

{% endblock %}
<body>

<header>
    <div class="navbar">
      <a class="vrh" href="{% url 'home' %}"><i class="fa fa-home" id="cover10" class="modifikovanje-elemenata1"></i><p id="cover0" class="modifikovanje-elemenata"></p></a>
      <nav>
        <ul id="elementi-liste-horizontalno" class="enlarge" style="list-style: none;"> <!--u ovom "style delu izbacujemo bullet point"-->
          
          <li class="decor" ><p id="cover5"  class="modifikovanje-elemenata"></p><a href="{% url 'userinfo' %}" id="cover6" class="modifikovanje-elemenata1"><i class="fa fa-user-circle"></i></a></li>
          <li class="decor" ><p id="cover7" class="modifikovanje-elemenata"></p><a href="{% url 'instructions' %}" id="cover8" class="modifikovanje-elemenata1"><i class="fa fa-book"></i></a></li>
          {% if user.is_authenticated %}
          <!-- OVAJ PRVI RED ISPOD POPUNI NECIM -->
          <li class="decor"><p id="cover1" class="modifikovanje-elemenata">Lista unosa &nbsp;</p><a href="{% url 'weightlist' %}" id="cover2" class="modifikovanje-elemenata1"><i class="fa fa-list-ul"></i></a></li>
          <li class="decor" ><p id="cover3" class="modifikovanje-elemenata">Log out &nbsp;</p><a href="{% url 'logout' %}" id="cover4" class="modifikovanje-elemenata1"><i class="fa fa-user-times"></i></a></li>
          {% else %}
            <li class="decor"><p id="cover1" class="modifikovanje-elemenata">Sign up &nbsp;</p><a href="{% url 'signup' %}" id="cover2" class="modifikovanje-elemenata1"><i class="fa fa-user-plus"></i></a></li>
            <li class="decor" ><p id="cover3" class="modifikovanje-elemenata"> Log in&nbsp;</p><a href="{% url 'login' %}" id="cover4" class="modifikovanje-elemenata1"><i class="fa fa-users"></i></a></li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </header>

<div class="allButFooter">
{% block content %}

{% endblock %}
</div>

<footer id="footer">
    <div class="footer-segment">
     <p id="marg"> ® MD Solutions 2020</p>
     <div class="right">
      <ul>
        <li class="mediaq">Pratite nas</li>
        <li id="fb"><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook-square"></i></a></li>
        <li id="ig"><a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a></li>
        <li id="mail"><a href="mailto:dusantime@gmail.com" target="_blank"><i class="fa fa-envelope"></i></a></li>
      </ul>
     </div>
    </div>
  </footer>
  
  <script type="text/javascript" src="{% static 'dijeta_je_meta/js/other.js' %}"></script>

</body>
</html>





