<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="./resursi/css/index.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Koulen&family=Life+Savers&family=Merriweather:ital@0;1&family=Philosopher&family=Radio+Canada:wght@500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Koulen&family=Life+Savers&family=Merriweather:ital@0;1&family=Philosopher&family=Radio+Canada:wght@500&display=swap" rel="stylesheet">
</head>

<body id="blog-background">

<!--Header-->

  <header>
    <div class="navbar">
      <p class="vrh1"><em>Dijeta je meta - blog</em></p></a>
      <style>
        .vrh1{
          margin-right: auto;
          color: white;
          padding: 10px;
          background: rgb(100, 184, 214);
          border-radius: 10px;
          border-style: solid;
          font-family: 'Abril Fatface', cursive;
        }
      </style>
      <nav>
        <ul id="elementi-liste-horizontalno" class="enlarge" style="list-style: none;"> <!--u ovom "style delu izbacujemo bullet point"-->
          <li class="decor" ><p id="cover0"></p><a href="./index.html" id="cover10"><i class="fa fa-home"></i></a></li>
          <li class="decor" ><p id="cover5"></p><a href="#footer" id="cover6"><i class="fa fa-user-circle"></i></a></li>
        </ul>
      </nav>
    </div>
  </header>
  
<!--Blogs-->
   
   <p id="padding-only"></p>
   <div class="blog">
      <h2>Kako dobiti na težini?</h2>
      <div class="content">
        <figure>
          <img src="resursi/images/download (1).png" alt='Slika 2 coveka sa razlikom u tezini' />
          <figcaption>Datum objave: 27/07/2022</figcaption>
          <figcaption>Autor: Dušan</figcaption>
          <button class="button">Like</button>
        </figure>
        <p>Da bi ste dobili na masi, morate dati mišićima razlog za tim. Trening velikim opterećenjem (relativno govoreći, naravno jer nešto što je teško jednoj osobi može biti lagano drugoj) do mišićnog otkaza je stimulus za rast. I pod mišićnim otkazom podrazumeva se pravilna forma, tačka u kojoj jednostavno više ne možete podići teret u pravilnoj formi – ponavljanja sa očajnom formom se ne računaju! Najbolji opseg za treniranje je između 6-10 ponavljanja. Trening ispod toga (1-5) će dovesti primarno do rasta snage i manje hipertrofije.
         <br><br> Trening sa većim brojem ponavljanja (najvećim delom) će primarno raditi na mišićnoj izdržljivosti. Trening do otkaza je vrlo bitan za mišićni rast. Mišići neće rasti ukoliko nisu naterani da rade nešto na šta nisu navikli.. Radeći serije samo do određenog broja ponavljanja i prestanak na tom broju bez obzira da li je mišić radio do otkaza ili ne je veoma česta greška među muškarcima i ženama vezbačima. Ovo neće dovesti do stimulisanja kvalitetne mase na rast. Dakle za optimalni rast radite u nivou 6-10 ponavljanja do otkaza!
        </p>
      </div>
   </div>

   <div class="blog">
    <h2>Koliko treninga nedeljno je optimalno?</h2>
    <div class="content">
      <figure>
        <img src="resursi/images/maxresdefault.jpg" alt='Slika 4 coveka koja razlicito treniraju' />
        <figcaption>Datum objave: 28/07/2022</figcaption>
        <figcaption>Autor: Dušan</figcaption>
        <button class="button">Like</button>
      </figure>
      <p>Pravilo broj 1: nedeljno 3 treninga je minimum što bi svako trebao imati. Optimalno svako može trenirati između 3-6 puta nedeljno, zavisno od toga na kom je nivou treninga, koju građu ima i koliko je ozbiljan u svojoj nameri. Naravno ima i takvih koji nedeljno dvaput mogu sebi da priušte trening-i to je bolje nego uopšte ne trenirati! Samo onda ne bi trebali imati takmičarske ambicije nego svoje ambicije primeniti prema svojim mogućnostima.
        <br><br>Pravilo broj 2: bolje manje treninga, ali kvalitetnih nego više treninga ali lošijih. To je tipična greška početnika, što je moguće više trenirati. Kao da mu na čelu piše:početnik sam, pojma nemam o treninzima. No, zato smo tu da usmerimo ljude, jer smo i mi bili početnici pa činili ove iste greške. U principu ne treba puno vežbati nego pogoditi optimalni broj treninga a ta brojka nije ista kod svakog čoveka.
      </p>
    </div>
   </div>

   <div class="blog">
    <h2>Kako najbrže izgraditi mišićnu masu?</h2>
    <div class="content">
      <figure>
        <img src="resursi/images/young-hispanic-woman-feeling-sad-whiney-with-unhappy-look-crying-holding-scale_1194-345450.webp" alt='Slika posude sa hranom' />
        <figcaption>Datum objave: 29/07/2022</figcaption>
        <figcaption>Autor: Dušan</figcaption>
        <button class="button">Like</button>
      </figure>
      <p>Naučnici koji se bave vežbanjem, pronalaze nam nove odgovore na pitanje “šta je ponavljanje”. Osobe koje vežbaju, ugavnom rade standardna ponavljanja kada dižu tegove – sekunda za podizanje, sekunda za spuštanje, što dovodi do brzog tempa vežbanja. Neverovatnim usporavanjem određenih faza vežbi, vaši mišići rade mnogo, mnogo jače. Sledećeg puta kada budete dizali nešto iz benča ili radili čučanj, podignite se brzo, a spuštajte se tokom četiri sekunde. E, to je pravo ponavljanje.
        <br><br>
        Tempirano treniranje, odnosno strateško usporavanje određenih faza vežbe, navešće vas da se koncentrišete na mišić na kom radite. Uz pomoć ovog vida vežbanja, osetićete svaki pokret kroz čitav niz akcija vašeg mišića. Takođe, uvidećete da možete napraviti mnogo veću tenziju za svoje mišiće bez upotrebe težih tegova. Ovaj vid vežbanja treba da se koristi strateški, kada želite da odredite svoj maksimum za određene vežbe. Na primer, treba da radite ovako četiri do šest nedelja, pa da se vratite na normalne vežbe i potom postepeno povećavate svoju snagu.</p>
    </div>
   </div>

   <!--Footer-->

   <footer id="footer">
    <div class="footer-segment">
     <p id="marg"> ® MD Solutions 2020</p>
     <div class="right">
      <ul>
        <li>Pratite nas</li>
        <li id="fb"><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook-square"></i></a></li>
        <li id="ig"><a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a></li>
        <li id="mail"><a href="mailto:Dušantime@gmail.com" target="_blank"><i class="fa fa-envelope"></i></a></li>
      </ul>
     </div>
    </div>
  </footer>



  <script src="./blog.js" async></script>

</body>
</html>

