{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dijeta je meta</title>
    <link rel="stylesheet" href="{% static 'dijeta_je_meta/css/index.css' %}">
    <script src="https://kit.fontawesome.com/42ed48a784.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="shortcut icon" type="image/png" href="{% static 'dijeta_je_meta/images/favicon.png' %}"/>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Koulen&family=Life+Savers&family=Merriweather:ital@0;1&family=Philosopher&family=Radio+Canada:wght@500&display=swap" rel="stylesheet">
</head>

<body>
  
<!--Header-->

  <header>
    <div class="navbar">
      <a class="vrh" href=""><i class="fa fa-home" id="cover10" class="modifikovanje-elemenata1"></i><p id="cover0" class="modifikovanje-elemenata"></p></a>
      <nav>
        <ul id="elementi-liste-horizontalno" class="enlarge" style="list-style: none;"> <!--u ovom "style delu izbacujemo bullet point"-->
          
          <li class="decor" ><p id="cover5"  class="modifikovanje-elemenata"></p><a href="{% url 'userinfo' %}" id="cover6" class="modifikovanje-elemenata1"><i class="fa fa-user-circle"></i></a></li>
          <li class="decor" ><p id="cover7" class="modifikovanje-elemenata"></p><a href="{% url 'instructions' %}" id="cover8" class="modifikovanje-elemenata1"><i class="fa fa-book"></i></a></li>
          {% if user.is_authenticated %}
            <li class="decor"><p id="cover1" class="modifikovanje-elemenata">Lista unosa &nbsp;</p><a href="{% url 'weightlist' %}" id="cover2" class="modifikovanje-elemenata1"><i class="fa fa-list-ul"></i></a></li>
            <li class="decor" ><p id="cover3" class="modifikovanje-elemenata">Odjavi se &nbsp;</p><a href="{% url 'logout' %}" id="cover4" class="modifikovanje-elemenata1"><i class="fa fa-user-times"></i></a></li>
          {% else %}
            <li class="decor"><p id="cover1" class="modifikovanje-elemenata">Registruj se &nbsp;</p><a href="{% url 'signup' %}" id="cover2" class="modifikovanje-elemenata1"><i class="fa fa-user-plus"></i></a></li>
            <li class="decor" ><p id="cover3" class="modifikovanje-elemenata"> Prijavi se&nbsp;</p><a href="{% url 'login' %}" id="cover4" class="modifikovanje-elemenata1"><i class="fa fa-users"></i></a></li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </header>

<!--Koncept sekcija-->

  <div class="uvod">
      <div class="koncept">
        <h1>O samom konceptu!</h1>
        <br>
        <p>Još od mlađih dana jedna od mojih najvećih strasti je bila vezana za treniranje. Gubtikom težine sam poceo opsežnije da se bavim oko dvadeset i pete godine. Planiram da dizajn ovog sajta bude u neku ruku priručnik za sve one koji se bore sa viškom kilograma. Nadam se da će Vam ova stranica koliko toliko pomoći da ispunite svoje ciljeve vezane za vašu idealnu figuru. Srećno!</p>
        <br>
        <h2>Disclaimer: Ceo sadržaj je besplatnog karaktera!</h2>
      </div>
  </div>

<!--Zablude sekcija-->

   <h1 id="zablude-h1">Najčešće zablude vezane za gubitak težine</h1>
   <div id="zablude">
      <div class="slike-za-fleks">      
        <div class="block">
          <figure>
            <img class="downsize-img" src="../../static/dijeta_je_meta/images/Screenshot_2.png" alt='Slika posude sa hranom' />
            <figcaption><em>"Konzumiranje zdrave hrane dovodi do gubitka težine"</em></figcaption>
          </figure>
        </div>
        <div class="block">
          <figure>
            <img class="downsize-img" src="../../static/dijeta_je_meta/images/if-you-exercise-you-can-eat-whatever-you-want-fitness-myth.jpg" alt='Slika coveka sa hranom' />
            <figcaption><em>"Ako vežbamo možemo da jedemo šta god poželimo"</em></figcaption>
          </figure>
        </div>
        <div class="block">
          <figure>
            <img class="downsize-img" src="../../static/dijeta_je_meta/images/Screenshot_1.png" alt='Slika coveka koji trci' />
            <figcaption><em>"Kardio je jedino rešenje za gubitak težine"</em></figcaption>
          </figure>
        </div>
        <div class="block">
          <figure>
            <img class="downsize-img" src="../../static/dijeta_je_meta/images/healthy-high-fat-foods-shutterstock_396446890-770.jpg" alt='Slika hrane' />
            <figcaption><em>"Hrana sa visokim procentom masti je nezdrava"</em></figcaption>
          </figure>
        </div>
        <div class="block">
          <figure>
            <img class="downsize-img" src="../../static/dijeta_je_meta/images/Screenshot_3.png" alt='Čovek koji drži sat i pribor za jelo' />
            <figcaption><em>"Česti obroci ubrzavaju metabolizam"</em></figcaption>
          </figure>
        </div>
      </div> 
   </div>

<!--Tablica kalorija-->

  <div id="tablica-kalorija">
    <div class="text-segment">
      <h1>Redovno praćenje</h1>
      <p>Jedno od najpouzdanijih rešenja viška kilograma je redovno <a href="{% url 'login'%}">praćenje dnvenog unosa hrane i pića.</a> Ovaj način sadrži niz prednosti u odnosu na konvencionalne metode:</p>
      <ul class="mediaq">
        <li class="mediaq">Postajete svesni količine kalorija koje stvarno unosite</li>
        <li class="mediaq">Ješćete manje porcije</li>
        <li class="mediaq">Besplatno je</li>
      </ul>
      <h2>Niz drugih referenci koje govore u prilog ovoj metodi:</h2>
      <div class="reference">
            <div class="ref-jedan">
              <img src="../../static/dijeta_je_meta/images/greg-doucette.jpg " alt="">
              <div class="text-ref">
                 <h3>Greg Doucette</h1>
                 <p>Jedan od modernih influensera u fitnes svetu u intervjuu sa Dr. Layne Norton-om opširnije prikazuje svoj pogled na redovno praćenje težine.</p>
                 <p class="link-ref"><a href="https://www.youtube.com/watch?v=rW1RzThgsq8&ab_channel=GregDoucette" target="_blank">Saznajte više</a></p>
              </div>
            </div>
            <div class="ref-jedan">
              <img src="../../static/dijeta_je_meta/images/AWR_icon_500px.png" alt="">
              <div class="text-ref">
                 <h3>A workout routine</h1>
                 <p>Najbolji sajt po mom mišljenju kako za dijetu tako i za trening.</p>
                 <p class="link-ref"><a href="https://www.aworkoutroutine.com/" target="_blank">Saznajte više</a></p>
              </div>
            </div>
      </div>
    </div>
    <div class="image-segment">
      <img class="img-jedan" src="../../static/dijeta_je_meta/images/7cd279c0bb9b7b3f6cd4cde2340c35c4.png" alt="slika sa vocem">
    </div>
  </div>

 <!--Footer-->

  <footer id="footer">
    <div class="footer-segment">
     <p id="marg"> ® MD Solutions 2020</p>
     <div class="right">
      <ul>
        <li class="mediaq">Pratite nas</li>
        <li id="fb"><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook-square"></i></a></li>
        <li id="ig"><a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a></li>
        <li id="mail"><a href="mailto:dusantime@gmail.com" target="_blank"><i class="fa fa-envelope"></i></a></li>
      </ul>
     </div>
    </div>
  </footer>
  <script src="../../static/dijeta_je_meta/JS/main.js" async></script>
</body>
</html>
