{% extends "dijeta_je_meta/base.html" %}

{% block content %}
<div id="page-container">
{% for i in info %}
  <p>Ime: {{i.ime}}</p>
  <p>Pocetna tezina: {{i.pocetna_tezina}} kg</p>
  <p>Visina: {{i.visina}} cm</p>
  {% empty %}
    <a href="{% url 'createinfo' %}">Unesite inicijani set podataka</a>
</div>
{% endfor %}
<p>Trenutna tezina: {{trenutna_tezina}} kg</p>
<p>Datum poslednjeg unosa: {{poslednji_unos}}</p>
<a href="{% url 'currentweight' %}">Novi unos</a>

<a href="{% url 'weightlist' %}">Lista unosa</a>

<p>Proteini</p>
<p>Ugljeni hidrati</p>
<p>Masti</p>


{% endblock %}

