{% extends "dijeta_je_meta/base.html" %}

{% block content %}
<style>
  html{
    background-image: url("../../static/dijeta_je_meta/images/blue-wood-texture-background-surface_35.jpg");
  }
</style>

<h1 id="first-header">Lista prethodnih unosa</h1>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <h1{% if message.tags %} class="{{ message.tags }}"{% endif %}> <i class="fa fa-check"></i> {{ message }}</h1>
    {% endfor %}
</ul>
{% endif %}

<div class="weight-list">
<div>
{% for weight in currentweight_list %}

  <p class="date">Datum unosa - {{weight.date_added|date:"d b Y"}}</p>
  <div class="one-weight">
      <p class="marg-bot"><strong>Trenutna težina na današnji dan</strong> <i class="fa fa-balance-scale-left"></i> </p>
      {% for i in idealna %}
        {% if weight.trenutna_tezina > i|add:10 %}
         <p class="list-variable"><u>{{weight.trenutna_tezina}}kg </u> </p>
         <p>Bar znate unapred kako ćete umreti</p>
         <img src="../../static/dijeta_je_meta/images/fat man.png" alt="" width="150px">
        {% elif i > weight.trenutna_tezina|add:"10" %}
          <p class="list-variable"><u>{{weight.trenutna_tezina}}kg </u> </p>
          <p>Na njivi uvek ima posla za Vas</p>
          <img src="../../static/dijeta_je_meta/images/thin man.png" alt="" width="150px">
        {% elif weight.trenutna_tezina > i|add:3 %}
         <p class="list-variable2"> <u>{{weight.trenutna_tezina}}kg</u></p>
         <p>Život je kao kutija čokolada. Ne traje dugo za debele ljude.</p>
         <img src="../../static/dijeta_je_meta/images/images (1).png" alt="" width="150px">
        {% elif i > weight.trenutna_tezina|add:"3" %}
          <p class="list-variable2"> <u>{{weight.trenutna_tezina}}kg</u></p>
          <p>Pazite da ne propadnete kroz wc-šolju</p>
          <img src="../../static/dijeta_je_meta/images/medium.png" alt="" width="150px">
        {% else %}
         <p class="list-variable3"> <u>{{weight.trenutna_tezina}}kg</u></p>
         <p>Apolon bi Vam pozavideo</p>
         <img src="../../static/dijeta_je_meta/images/96-969570_silhouette-run-athlete-winter-fit-runner-cold-person-removebg-preview.png" alt="" width="150px">
        {% endif %}
      {%endfor%}
    <p class="marg-bot"><strong>Detalji o ishrani <i class="fa fa-carrot"></i></strong></p>
    {% if weight.detalji %}
        <p class="p-space">{{weight.detalji}}</p>
    {% else %}
        <p class="p-space">Nema detalja o ishrani <i class="fa-regular fa-face-sad-tear"></i></p>
    {% endif %}


    <div class="button-div2">
      <a href="{% url 'update_weight' weight.id %}" class="button">Promenite težinu</a>
      <a href="{% url 'delete_weight' weight.id %}" class="delete-button">Izrbrišite težinu</a>
    </div>
 </div>
{% empty %}
  <a href="{% url 'currentweight' %}">Prvi unos</a>

{% endfor %}

<div class="pagination">
  {% if is_paginated %}
  {% if page_obj.has_previous %}
    <a  href="?page=1">Prva</a>
    <a href="?page={{ page_obj.previous_page_number }}">Prethodna</a>
  {% endif %}
  {% for num in page_obj.paginator.page_range %}
    {% if page_obj.number == num %}
      <a class="active" href="?page={{ num }}">{{num}}</a>
     {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
       <a  href="?page={{ num }}">{{num}}</a>
    {% endif %}
  {% endfor %}

  {% if page_obj.has_next %}
     <a href="?page={{ page_obj.next_page_number }}">Sledeća</a>
     <a href="?page={{ page_obj.paginator.num_pages }}">Poslednja</a>
  {% endif %}

  {% endif %}
  </div>
</div>
</div>
{% endblock %}

