html{
    font-family: 'Abril Fatface', cursive;
    font-family: 'Koulen', cursive;
    font-family: 'Life Savers', cursive;
    font-family: 'Merriweather', serif;
    font-family: 'Philosopher', sans-serif;
    font-family: 'Radio Canada', sans-serif;
    scroll-behavior: smooth;
   
   }

   
   *{
       box-sizing: border-box;
       padding: 0;
       margin: 0;
   }
   p{
    font-size: 25px;
   }




   /*Header sekcija*/
   
   .navbar{
       margin-bottom: 10px;
       display: flex;
       color: white;
       font-weight: bold;
       font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
       font-size: 17px;
       background-color: white;
       width: 100%;
       z-index:1;
       padding: 5px;
   }
   
   .vrh{
       border-style:solid;
       border-radius: 10px;
       margin-left: 10px;
       background: #77C3EC;
       margin-right: auto;
       padding: 10px;
    
   }
   
   #elementi-liste-horizontalno{
       display:flex;
   
   }
   
   
   .navbar li{
       margin-right: 5px; 
       padding: 10px;
   
       /*ovako dobijamo razmak izmedju elemenata liste*/
   }
   
   .decor{
       background: #77C3EC;
       border-style:solid; 
       border-radius: 10px;
   }
   
   .navbar a{
       color: white;
   }
   .navbar a,a:visited{
       text-decoration: none;
   }



/*Footer*/
.allButFooter {
    min-height: calc(100vh - 200px);
}
   
footer{
    background: linear-gradient(#77C3EC, #89CFF0, #9DD9F3, #B8E2F2);
    height: 180px;
    border-style: solid;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-color: rgb(228, 232, 232);
    color: white;
}

.footer-segment{
    padding-top: 80px;
    margin-left: 25px;
    display: flex;
}

#marg{
    margin-right: auto;
}

.right ul{
    display: flex;
    font-size: 20px;
    list-style: none;
}

.right li{
    padding-right: 20px;

}

footer a,a:visited{
    text-decoration: none;
}

footer a{
    color: white;
    border-radius: 50%;
    padding:9px;
    border-style: solid;
}

#fb :hover{
    background-color: rgb(66 103 178);
    color: white;
    transition-duration: 0.5s;
}

#ig :hover{
 transition-duration: 0.5s;
 background: #f09433; 
 background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
 background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
 background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
 color: white;
 }

 #mail :hover{
     background-color: gray;
     color: white;
     transition-duration: 0.5s;
 }





/* dugmad na userinfu */


/* dugmad na listi unosa */
.button-div2{
    margin-top: 20px;
    margin-bottom: 20px;
}

.button{
    padding: 7px;
    background-color: rgb(30, 152, 196);
    color: white;
    border-style: solid;
    border-radius: 14px;
    border-color:  rgb(30, 152, 196);
    font-weight: 1000;
    text-decoration: none;
}

.button:hover{
    color: rgb(30, 152, 196);
    background-color: white;
    transition-duration: 0.5s;
}

/* errori na loginu */
.error{
    background-color: rgb(232, 39, 39);
    text-decoration: none;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

/* errori na sign upu */
.error2{
    text-decoration: none;
    background-color: rgb(232, 39, 39);
    color: white;
    padding-left: 10px;
    border-radius: 5px;
}

/* login i register */
#move{
    padding: 50px;
}

.delete-button{
    padding: 8px;
    background-color: rgb(223, 76, 76);
    color: white;
    font-size: 17px;
    border-style: solid;
    border-radius: 14px;
    background-color: rgb(223, 76, 76);
    font-weight: 1000;
    margin-right: 4px;
    text-decoration: none;
}

.delete-button:hover{
    border-color:  rgb(214, 6, 6);
    background-color: rgb(214, 6, 6);
    transition-duration: 0.5s;
}


/* pagination */
.pagination a.active {
    background-color: rgb(85, 84, 84);
    color: white;
    text-decoration: none;
  }
  
.pagination a:hover:not(.active) {background-color: lightgray;}

.pagination a {
    border: 1px solid darkblue; /* Gray */
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  }

.pagination{
  margin-top: 70px;
  margin-bottom: 60px;
}

/* Profilna strana */

#first-header{
    background-color: rgb(30, 152, 196);
    color: white;
    font-weight: bold;
    padding:50px;
    font-size: 30px; 
}

.messages{
    width: 100%;
    padding: 25px;
    border-style: solid;
    border-color: rgb(181, 249, 181);
    background-color: rgb(188, 248, 188);
    color: darkgreen;
    border-radius: 5px;
    font-weight: bold;
    opacity: 0.6;
    font-size: 10px;
    text-align: center;
 }

.center-main{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}


#userinfo{
    background-color: rgb(244, 244, 244);
    border-radius: 5px;
}

.info-header{
    background-color: rgb(30, 152, 196);
    color: white;
    font-weight: bold;
    padding: 25px;
    border-radius: 5px;
}

.inner-info{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    background-color: white;
    color: rgb(4, 100, 135);
    margin: 20px;
    border-color: rgb(221, 219, 219);
    border-style: solid;
}

.info-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#space{
    margin-right: auto;
}

.center{
    text-align:center;
    position:relative;
}

.resize{
    width: 150px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#info-button{
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
    font-size: 17px;
}

.info-highlight{
    text-align: center;
    margin-top: 15px;
    font-size: 30px;
    font-weight: bold;
}

.p-space{
   margin-bottom: 40px;
}

.resize2{
    width: 80px;
    margin-bottom: 40px;
}

.underline{
    text-decoration: underline;
}

.macro{
    margin-bottom: 50px;
    padding-left: 25px;
    padding-right: 25px;
}


@media all and (max-width: 480px){
    .navbar{
        font-size: 11px;
    }
    .mediaq{
        font-size: 15px;
      }
    p {
        font-size: 14px;
    }
    .info-highlight{
        font-size: 20px;
    }
    .button{
        padding: 3px;
        font-size: 11px;
    }

    }


@media all and (min-width: 481px) and (max-width: 768px) {
    p {
        font-size: 20px;
    }   
    .mediaq{
        font-size: 10px;
      }
    }



@media all and (min-width: 769px) and (max-width: 1024px) {
     p {
         font-size: 30px;
     }
     .mediaq{
        font-size: 30px;
      }
     }

 
@media all and (min-width: 1025px) and (max-width: 1200px) {

    p {
        font-size: 13px;
    }
    .mediaq{
        font-size: 20px;
      }
    }