html{
    font-family: 'Abril Fatface', cursive;
    font-family: 'Koulen', cursive;
    font-family: 'Life Savers', cursive;
    font-family: 'Merriweather', serif;
    font-family: 'Philosopher', sans-serif;
    font-family: 'Radio Canada', sans-serif;
    scroll-behavior: smooth;
    background-color: rgb(248, 240, 240);
   }

   
   *{
       box-sizing: border-box;
       padding: 0;
       margin: 0;
   }
   p{
    font-size: 25px;
   }

   

   /*Header sekcija*/
   
   .navbar{
       margin-bottom: 10px;
       display: flex;
       color: white;
       font-weight: bold;
       font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
       font-size: 17px;
       background-color: white;
       width: 100%;
       z-index:1;
       padding: 5px;
   }
   
   .vrh{
       border-style:solid;
       border-radius: 10px;
       margin-left: 10px;
       background: #77C3EC;
       margin-right: auto;
       padding: 10px;
    
   }
   
   #elementi-liste-horizontalno{
       display:flex;
   
   }
   
   
   .navbar li{
       margin-right: 5px; 
       padding: 10px;
   
       /*ovako dobijamo razmak izmedju elemenata liste*/
   }
   
   .decor{
       background: #77C3EC;
       border-style:solid; 
       border-radius: 10px;
   }
   
   .navbar a{
       color: white;
   }
   .navbar a,a:visited{
       text-decoration: none;
   }





/*Footer*/
.allButFooter {
    min-height: calc(100vh - 200px);
}
   
footer{
    background: linear-gradient(#77C3EC, #89CFF0, #9DD9F3, #B8E2F2);
    height: 180px;
    border-style: solid;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-color: rgb(228, 232, 232);
    color: white;
}

.footer-segment{
    padding-top: 80px;
    margin-left: 25px;
    display: flex;
}

#marg{
    margin-right: auto;
}

.right ul{
    display: flex;
    font-size: 20px;
    list-style: none;
}

.right li{
    padding-right: 20px;

}

footer a,a:visited{
    text-decoration: none;
}

footer a{
    color: white;
    border-radius: 50%;
    padding:9px;
    border-style: solid;
}

#fb :hover{
    background-color: rgb(66 103 178);
    color: white;
    transition-duration: 0.5s;
}

#ig :hover{
 transition-duration: 0.5s;
 background: #f09433; 
 background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
 background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
 background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
 color: white;
 }

 #mail :hover{
     background-color: gray;
     color: white;
     transition-duration: 0.5s;
 }





/* dugmad na userinfu */


/* dugmad na listi unosa */
.button-div2{
    margin-top: 20px;
    margin-bottom: 20px;
}

.button{
    padding: 7px;
    background-color: rgb(30, 152, 196);
    color: white;
    border-style: solid;
    border-radius: 14px;
    border-color:  rgb(30, 152, 196);
    font-weight: 1000;
    text-decoration: none;
}

.button:hover{
    color: rgb(30, 152, 196);
    background-color: white;
    transition-duration: 0.5s;
}

/* errori na loginu */
.error{
    background-color: rgb(232, 39, 39);
    text-decoration: none;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

/* errori na sign upu */
.error2{
    text-decoration: none;
    background-color: rgb(232, 39, 39);
    color: white;
    padding-left: 10px;
    border-radius: 5px;
}

/* login i register */
#move{
    padding: 50px;
}

.delete-button{
    padding: 8px;
    background-color: rgb(223, 76, 76);
    color: white;
    font-size: 17px;
    border-style: solid;
    border-radius: 14px;
    background-color: rgb(223, 76, 76);
    font-weight: 1000;
    margin-right: 4px;
    text-decoration: none;
}

.delete-button:hover{
    border-color:  rgb(214, 6, 6);
    background-color: rgb(214, 6, 6);
    transition-duration: 0.5s;
}


/* pagination */
.pagination a.active {
    background-color: rgb(85, 84, 84);
    color: white;
    text-decoration: none;
  }
  
.pagination a:hover:not(.active) {background-color: lightgray;}

.pagination a {
    border: 1px solid darkblue; /* Gray */
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  }

.pagination{
  margin-top: 70px;
  margin-bottom: 60px;
}


/* Profilna strana */


#first-header{
    background-color: rgb(30, 152, 196);
    color: white;
    font-weight: bold;
    padding:50px;
    font-size: 30px; 
    margin-top: -10px;
}

.messages{
    width: 100%;
    padding: 20px;
    margin-top: -10px;
    border-style: solid;
    border-color: rgb(181, 249, 181);
    background-color: rgb(188, 248, 188);
    color: darkgreen;
    border-radius: 5px;
    font-weight: bold;
    opacity: 0.6;
    font-size: 10px;
    text-align: center;
 }

.center-main{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}


#userinfo{
    background-color: rgb(244, 244, 244);
    border-radius: 5px;
}

.info-header{
    background-color: rgb(30, 152, 196);
    color: white;
    font-weight: bold;
    padding: 23px;
    border-radius: 5px;
}

.inner-info{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    background-color: white;
    color: rgb(4, 100, 135);
    margin-bottom: 20px;
    border-color: rgb(221, 219, 219);
    border-style: solid;
}

.info-flex{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#space{
    margin-right: auto;
}

.center{
    text-align:center;
    position:relative;
}

.resize{
    width: 150px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#info-button{
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
    font-size: 17px;
}

.info-highlight{
    text-align: center;
    margin-top: 15px;
    font-size: 30px;
    font-weight: bold;
}

.p-space{
   margin-bottom: 40px;
}

.resize2{
    width: 80px;
    margin-bottom: 40px;
}

.underline{
    text-decoration: underline;
}

.macro{
    margin-bottom: 50px;
    padding-left: 25px;
    padding-right: 25px;
}

.centering{
    text-align: left;
    position: relative;
    font-family: sans-serif;
    margin: 20px;
}

.spacing{
    margin-top: 50px;
    margin-bottom: 50px;
    list-style:none;
}


/* Inicijani podaci strana */


.center-form{
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);  
    /* x i y osa */
}

.change-info{
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

input{
    display: inline-flex;
}


.input-class{
    padding-right: 284px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-bottom: 30px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding-left: 10px;
}
.input-class{outline: none;}
.input-class:focus{
    border:1px solid rgb(46, 160, 198);
    transition-duration: 0.5s;
    box-shadow: 1px 1px 10px rgb(46, 160, 198);
}


.radio-center{
    margin-right: 5px;
    margin-bottom: 30px;
}

.move{
    margin-right: 30px;
}

label{
    font-family: sans-serif;
    margin-bottom: 7px;
}


.button3{
    padding: 7px;
    background-color:  white;
    color:  rgb(30, 152, 196);
    border-style: solid;
    border-radius: 14px;
    border-color:  rgb(30, 152, 196);
    font-weight: 1000;
    text-decoration: none;
    margin-left: 15px;
    font-size: 15px;
}


.button3:hover{
    background-color: rgb(235, 237, 238);
    transition-duration: 0.5s;
}


.text-info2{
    font-size: 18px;
}

#marg-top{
    margin-top: 20px;
}

.image-position{
    max-width: 54% !important;
    float: right;
}
textarea{
    font-family: sans-serif;
    border-color: white;
    border-radius: 5px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.progres-border{
    border: 3px solid;
    border-radius: 50%;
    font-size: 40px;
    padding: 75px;
    color: white;
    background-color: rgb(4, 100, 135);
}

.progres-font{
    font-size: 65px;
}

.start-text{
    color: rgb(4, 100, 135);
}

.head{
    margin-top: 40px;
    font-size: 30px;
    font-weight: bold;
}

.circle-back{
    background: linear-gradient(#77C3EC, #89CFF0, #9DD9F3, #B8E2F2);
    margin-top: -10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#gray-change{
    color: rgb(82, 80, 80);
    font-weight: 400;
    background-color: rgb(235, 232, 232);
}

.marg-bot{
    margin-bottom: 20px;
}


/* Lista sa tezinama */

 .weight-list{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
 }

 .one-weight{
    background-color: white;
    border-radius: 5px;
    padding: 50px;
    margin-bottom: 20px;
    color: rgb(4, 100, 135);
 }

 .date{
    color: whitesmoke;
    font-weight: bold;
    background-color: rgb(43, 146, 198);
    padding: 10px;
    border-radius: 5px;
 }

 .list-variable{
    font-size: 25px;
    font-weight: 1000;
    color: rgb(231, 82, 74);
    margin-bottom: 20px;
}

.list-variable2{
    font-size: 30px;
    font-weight: 1000;
    color: rgb(242, 224, 30);
    margin-bottom: 20px;
}

.list-variable3{
    font-size: 35px;
    font-weight: 1000;
    color: rgb(52, 186, 32);
    margin-bottom: 20px;
}

.delete{
    margin-top: -100px;
    color: white;
    margin-bottom: 50px;
}



.main-row{
    font-size: 25px;
    border: 1px solid;
    border-color: #186baf;
    border-spacing: 2px;
}

.header-label{
    border: 1px solid;
    padding: 10px;
    color: #186baf;
    font-weight: bold;
}
table td{
    border: 1px solid #186baf;
    text-align: center;
    padding: 5px;
    color: #186baf;
}
table{
    background-color: white;
}


.test{
    display: flex;
}





@media all and (max-width: 480px){

    .navbar{
        font-size: 11px;
    }
    .mediaq{
        font-size: 15px;
      }
    p {
        font-size: 14px;
    }
    .info-highlight{
        font-size: 20px;
    }
    .button{
        padding: 3px;
        font-size: 11px;
    }
    .input-class{
        padding-right: 20px;
      }
    textarea{
        width: 202px;
      }
    .delete-button{
        padding: 3px;
        font-size:13px;
    }
    .header-label{
        font-size: 10px;
    }
    table td{
        font-size: 8px;
    }
   }


@media all and (min-width: 481px) and (max-width: 768px) {
    p {
        font-size: 20px;
    }   
    .mediaq{
        font-size: 10px;
      }
    .input-class{
        padding-right: 96px;
    }
    textarea{
        width: 273px;
    }
    .header-label{
        font-size: 15px;
    }
    table td{
        font-size: 12px;
    }
    }




@media all and (min-width: 769px) and (max-width: 1024px) {
     p {
         font-size: 30px;
     }
     .mediaq{
        font-size: 30px;
      }
    .input-class{
        padding-right: 150px;
    }
    textarea{
        width: 328px;
    }
     }

 
@media all and (min-width: 1025px) and (max-width: 1200px) {

    p {
        font-size: 13px;
    }
    .mediaq{
        font-size: 20px;
      }
    textarea{
        width: 464px;
    }

    }